@{
    ViewData["Title"] = "Home Page";
}
    <!-- Page Content
    ================================================== -->
    
    <!-- Меню 1: почему бадминтон -->
    <div class="services" id="about">
        <div class="container">
            <h3>Почему бадминтон</h3>
            <hr>
            <div class="col-md-6">
                <img src="img/4.jpg" class="img-responsive">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                </p>
            </div>

            <div class="col-md-6">
                <div class="media">
                    <ul>
                        <li>
                            <div class="media-left">
                                <!-- <i class="fa fa-pencil"></i> -->
                                <img src="img/8.png" width="70" height="70">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Web Development</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                                    libero, pulvinar tincidunt leo consectetur eget.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Responsive Design</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                                    libero, pulvinar tincidunt leo consectetur eget.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Bootstrap Themes</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                                    libero, pulvinar tincidunt leo consectetur eget.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-services">
        <div class="container">
            <div class="col-md-6">
                <div class="media">
                    <ul>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Landing Page</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                                    libero, pulvinar tincidunt leo consectetur eget.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Training</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                                    libero, pulvinar tincidunt leo consectetur eget.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Logo Design</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                                    libero, pulvinar tincidunt leo consectetur eget.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <img src="img/3.jpg" class="img-responsive">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                    libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
                </p>
            </div>
        </div>
    </div>



    <!-- Menu #0 Services -->
    <section class="service" id="features">
        <div class="container">
            <h2 class="text-center">
                Услуги
            </h2>
            <div class="tabs">
                <input id="tab1" type="radio" name="tabs" checked> <!-- <img src="img/8.png" width="70" height="70"> -->
                <label for="tab1" title="Аренда корта"> <img src="img/net.png" width="30" height="30"> Аренда корта</label>
                <input id="tab2" type="radio" name="tabs">
                <label for="tab2" title="Детские группы">Детские группы</label>
                <input id="tab3" type="radio" name="tabs">
                <label for="tab3" title="Массаж">Массаж</label>
                <input id="tab4" type="radio" name="tabs">
                <label for="tab4" title="Трансляция турниров">Трансляция турниров</label>

                <input id="tab5" type="radio" name="tabs">
                <label for="tab5" title="Подарочный сертификат">Подарочный сертификат</label>

                <!--  <input id="tab6" type="radio" name="tabs">
                 <label for="tab6" title="Подарочный сертификат">Подарочный сертификат</label> -->

                <section id="content-tab1">
                    <p> WordPress — система управления содержимым сайта с открытым исходным кодом, распространяемая под GNU GPL. Написана на PHP, в качестве базы данных использует MySQL. </p>
                    <p> Сфера применения — от блогов до достаточно сложных новостных ресурсов и интернет-магазинов. Встроенная система «тем» и «плагинов» вместе с удачной архитектурой позволяет конструировать практически любые проекты. WordPress выпущен под лицензией GPL версии 2. </p>
                </section>
                <section id="content-tab2">
                    <p> Microsoft Windows (произносится [майкрософт ви́ндоус]) — семейство проприетарных операционных систем корпорации Microsoft, ориентированных на применение графического интерфейса при управлении. </p>
                    <p> Изначально Windows была всего лишь графической надстройкой для MS-DOS. По состоянию на март 2013 года под управлением операционных систем семейства Windows по данным ресурса NetMarketShare (Net Applications) работает около 90 % персональных компьютеров[1]. Операционные системы Windows работают на платформах x86, x86-64, IA-64, ARM. </p>
                </section>
                <section id="content-tab3">
                    <p> HTML5 (англ. HyperText Markup Language, version 5) — язык для структурирования и представления содержимого всемирной паутины. Это пятая версия HTML, последняя (четвёртая) версия которого была стандартизирована в 1997 году. По состоянию на октябрь 2013 года, HTML5 ещё находится в разработке, но, фактически, является рабочим стандартом (англ. HTML Living Standard). Цель разработки HTML5 — улучшение уровня поддержки мультимедиа-технологий, сохраняя при этом удобочитаемость кода для человека и простоту анализа для парсеров. </p>
                    <p> Во всемирной паутине долгое время использовались стандарты HTML 4.01 и XHTML 1.1, и веб-страницы на практике оказывались свёрстаны с использованием смеси особенностей, представленных различными спецификациями, включая спецификации программных продуктов, например веб-браузеров, а также сложившихся общеупотребительных приёмов. HTML5 был создан, как единый язык разметки, который мог бы сочетать синтаксические нормы HTML и XHTML. Он расширяет, улучшает и рационализирует разметку документов, а также добавляет единое API для сложных веб-приложений. </p>
                </section>
                <section id="content-tab4">
                    <p> Спецификация CSS3 — это неоспоримое будущее в области декоративного оформления веб-страниц, и ее разработка еще далека от завершения. Большинство модулей все еще продолжает совершенствоваться и модифицироваться, и ни один браузер не поддерживает все модули. Это означает, что CSS3 испытывает такие же сложности, как и HTML5. Веб-разработчикам нужно решать, какие возможности использовать, а какие игнорировать, а также каким образом заполнить зияющие пробелы в браузерной поддержке. </p>
                    <p> CSS3 не является частью спецификации HTML5. Эти два стандарта были разработаны отдельно друг от друга, разными людьми, работающими в разное время в различных местах. Но даже организация W3C призывает веб-разработчиков использовать HTML5 и CSS3 вместе, как часть одной новой волны современного веб-дизайна. </p>
                </section>
                <section id="content-tab5">
                    <p> Спецификация CSS3 — это неоспоримое будущее в области декоративного оформления веб-страниц, и ее разработка еще далека от завершения. Большинство модулей все еще продолжает совершенствоваться и модифицироваться, и ни один браузер не поддерживает все модули. Это означает, что CSS3 испытывает такие же сложности, как и HTML5. Веб-разработчикам нужно решать, какие возможности использовать, а какие игнорировать, а также каким образом заполнить зияющие пробелы в браузерной поддержке. </p>
                    <p> CSS3 не является частью спецификации HTML5. Эти два стандарта были разработаны отдельно друг от друга, разными людьми, работающими в разное время в различных местах. Но даже организация W3C призывает веб-разработчиков использовать HTML5 и CSS3 вместе, как часть одной новой волны современного веб-дизайна. </p>
                    <p> Спецификация CSS3 — это неоспоримое будущее в области декоративного оформления веб-страниц, и ее разработка еще далека от завершения. Большинство модулей все еще продолжает совершенствоваться и модифицироваться, и ни один браузер не поддерживает все модули. Это означает, что CSS3 испытывает такие же сложности, как и HTML5. Веб-разработчикам нужно решать, какие возможности использовать, а какие игнорировать, а также каким образом заполнить зияющие пробелы в браузерной поддержке. </p>
                    <p> CSS3 не является частью спецификации HTML5. Эти два стандарта были разработаны отдельно друг от друга, разными людьми, работающими в разное время в различных местах. Но даже организация W3C призывает веб-разработчиков использовать HTML5 и CSS3 вместе, как часть одной новой волны современного веб-дизайна. </p>
                </section>
            </div>
        </div>
    </section>
    <!-- Menu #0 Services -->
    <!-- Меню 3: галерея -->
    <!--/ banner -->
    <div class="inner_main_agile_section" id="gallary">
        <div class="container">
            <h3 class="w3l_header w3_agileits_header"> View Our <span>Projects</span></h3>
            <p class="sub_para_agile two">Ipsum dolor sit amet consectetur adipisicing elit</p>
            <div class="agile_inner_grids">
                <ul class="simplefilter">
                    <li class="active" data-filter="all">All</li>
                    <li data-filter="1">Category</li>
                    <li data-filter="2">Category1</li>
                    <li data-filter="3">Category2</li>
                    <li data-filter="4">Category3</li>
                    <li data-filter="5">Category4</li>
                </ul>
                <div class="filtr-container">
                    <div class="  filtr-item gallery-t" data-category="1, 5" data-sort="Busy streets">

                        <a href="img/images/1.jpg" class="b-link-stripe b-animate-go  thickbox">

                            <figure>
                                <img src="img/images/1.jpg" class="img-responsive" alt=" " />  <figcaption>
                                    <h3>CONSULTANCY</h3>
                                    <p>
                                        Add Description
                                    </p>
                                </figcaption>
                            </figure>
                        </a>

                    </div>
                    <div class=" filtr-item" data-category="2, 5" data-sort="Luminous night">
                        <a href="img/images/2.jpg" class="b-link-stripe b-animate-go  thickbox">

                            <figure>
                                <img src="img/images/2.jpg" class="img-responsive" alt=" " />  <figcaption>
                                    <h3>CONSULTANCY</h3>
                                    <p>
                                        Add Description
                                    </p>
                                </figcaption>
                            </figure>
                        </a>

                    </div>
                    <div class=" filtr-item" data-category="1, 4" data-sort="City wonders">
                        <a href="img/images/3.jpg" class="b-link-stripe b-animate-go  thickbox">

                            <figure>
                                <img src="img/images/3.jpg" class="img-responsive" alt=" " />  <figcaption>
                                    <h3>CONSULTANCY</h3>
                                    <p>
                                        Add Description
                                    </p>
                                </figcaption>
                            </figure>
                        </a>

                    </div>
                    <div class="  filtr-item" data-category="3" data-sort="In production">
                        <a href="img/images/4.jpg" class="b-link-stripe b-animate-go  thickbox">

                            <figure>
                                <img src="img/images/4.jpg" class="img-responsive" alt=" " />  <figcaption>
                                    <h3>CONSULTANCY</h3>
                                    <p>
                                        Add Description
                                    </p>
                                </figcaption>
                            </figure>
                        </a>

                    </div>
                    <div class=" filtr-item" data-category="3, 4" data-sort="Industrial site">
                        <a href="img/images/5.jpg" class="b-link-stripe b-animate-go  thickbox">

                            <figure>
                                <img src="img/images/5.jpg" class="img-responsive" alt=" " />  <figcaption>
                                    <h3>CONSULTANCY</h3>
                                    <p>
                                        Add Description
                                    </p>
                                </figcaption>
                            </figure>
                        </a>

                    </div>
                    <div class=" filtr-item" data-category="2, 4" data-sort="Peaceful lake">
                        <a href="img/images/6.jpg" class="b-link-stripe b-animate-go  thickbox">

                            <figure>
                                <img src="img/images/6.jpg" class="img-responsive" alt=" " />  <figcaption>
                                    <h3>CONSULTANCY</h3>
                                    <p>
                                        Add Description
                                    </p>
                                </figcaption>
                            </figure>
                        </a>

                    </div>
                    <div class="  filtr-item" data-category="1, 5" data-sort="City lights">
                        <a href="img/images/7.jpg" class="b-link-stripe b-animate-go  thickbox">

                            <figure>
                                <img src="img/images/7.jpg" class="img-responsive" alt=" " />  <figcaption>
                                    <h3>CONSULTANCY</h3>
                                    <p>
                                        Add Description
                                    </p>
                                </figcaption>
                            </figure>
                        </a>

                    </div>
                    <div class=" filtr-item" data-category="2, 4" data-sort="Dreamhouse">
                        <a href="img/images/8.jpg" class="b-link-stripe b-animate-go  thickbox">

                            <figure>
                                <img src="img/images/8.jpg" class="img-responsive" alt=" " />  <figcaption>
                                    <h3>CONSULTANCY</h3>
                                    <p>
                                        Add Description
                                    </p>
                                </figcaption>
                            </figure>
                        </a>

                    </div>
                    <div class=" filtr-item" data-category="2, 4" data-sort="Dreamhouse">
                        <a href="img/images/9.jpg" class="b-link-stripe b-animate-go  thickbox">

                            <figure>
                                <img src="img/images/9.jpg" class="img-responsive" alt=" " />  <figcaption>
                                    <h3>CONSULTANCY</h3>
                                    <p>
                                        Add Description
                                    </p>
                                </figcaption>
                            </figure>
                        </a>

                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>

    <!-- for gallery -->
    <!-- js -->
    <!-- Team -->

    <section class="team" id="team">
        <div class="container">
            <h2 class="text-center">
                Meet our team
            </h2>

            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" class="team-img" src="img/team-1.jpg">
                            <div class="card-title-wrap">
                                <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
                            </div>

                            <div class="team-over">
                                <h4 class="hidden-md-down">
                                    Connect with me
                                </h4>

                                <nav class="social-nav">
                                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                                </nav>

                                <p>
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" class="team-img" src="img/team-2.jpg">
                            <div class="card-title-wrap">
                                <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
                            </div>

                            <div class="team-over">
                                <h4 class="hidden-md-down">
                                    Connect with me
                                </h4>

                                <nav class="social-nav">
                                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                                </nav>

                                <p>
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" class="team-img" src="img/team-1.jpg">
                            <div class="card-title-wrap">
                                <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
                            </div>

                            <div class="team-over">
                                <h4 class="hidden-md-down">
                                    Connect with me
                                </h4>

                                <nav class="social-nav">
                                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                                </nav>

                                <p>
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <div class="card card-block">
                        <a href="#">
                            <img alt="" class="team-img" src="img/team-2.jpg">
                            <div class="card-title-wrap">
                                <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
                            </div>

                            <div class="team-over">
                                <h4 class="hidden-md-down">
                                    Connect with me
                                </h4>

                                <nav class="social-nav">
                                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                                </nav>

                                <p>
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Team -->

    <section class="about" id="pricelist">
        <!-- pricing-table -->
        <div id="pricing-table" class="pricing-table">
            <div class="container">
                <div class="pricing-info text-center">
                    <h2><span class="highlight">PRICING</span> TABLE</h2>
                    <h3><i>Choose The Best For You</i></h3>
                    <div class="underline">
                      <img src="~/img/underline3.png" alt=" "/>
                    </div>
                    <p>Lorem ipsum dolor amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse</p>
                </div>
                <div class="pricing-grids">
                    <div class="pricing-grid">
                        <div class="basic-plan">
                            <h3>BASIC PLAN</h3>
                            <p><label>$</label> <span>25 </span>/ mo</p>
                        </div>
                        <ul>
                            <li>60 Users</li>
                            <li>Unlimited Forums</li>
                            <li>Unlimited Reports</li>
                            <li>3,000 Entries per Month</li>
                            <li>200 MB Storage</li>
                        </ul>
                        <div class="started"><a href="#">1000 грн/месяц</a></div>
                        <div class="para">
                            <p>30 DAYS FREE TRIAL</p>
                        </div>
                    </div>
                    <div class="pricing-grid">
                        <div class="basic-plan">
                            <h3>BASIC PLAN</h3>
                            <p><label>$</label> <span>25 </span>/ mo</p>
                        </div>
                        <ul>
                            <li>60 Users</li>
                            <li>Unlimited Forums</li>
                            <li>Unlimited Reports</li>
                            <li>3,000 Entries per Month</li>
                            <li>200 MB Storage</li>
                        </ul>
                        <div class="started"><a href="#">GET STARTED NOW</a></div>
                        <div class="para">
                            <p>30 DAYS FREE TRIAL</p>
                        </div>
                    </div>
                    <div class="pricing-grid">
                        <div class="basic-plan">
                            <h3>BASIC PLAN</h3>
                            <p><label>$</label> <span>25 </span>/ mo</p>
                        </div>
                        <ul>
                            <li>60 Users</li>
                            <li>Unlimited Forums</li>
                            <li>Unlimited Reports</li>
                            <li>3,000 Entries per Month</li>
                            <li>200 MB Storage</li>
                        </ul>
                        <div class="started"><a href="#">GET STARTED NOW</a></div>
                        <div class="para">
                            <p>30 DAYS FREE TRIAL</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- /About -->

    <p><iframe style="border: 1px solid #777777; display: block; margin-left: auto; margin-right: auto;" width="900" height="600" frameborder="0" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23009900&amp;src=valerabaditsa%40gmail.com&amp;color=%23528800&amp;ctz=Europe%2FKiev"></iframe></p>
    <!-- component: footer -->

    <section id="contact">

        <div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704"></div> 

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-title">Забронировать корт</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 offset-lg-2">
                    <div class="info">
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p>A108 Adam Street<br>New York, NY 535022</p>
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>info@example.com</p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>+1 5589 55488 55s</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!-- SCRIPTS_______________________________________________________________________________________________ -->
    <!-- scripts for gallary -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <script src="js/jquery.filterizr.js"></script>
    <script src="js/controls.js"></script>
    <!-- Kick off Filterizr -->
    <script type="text/javascript">
        $(function() {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();
        });
    </script>
    <!---->
    <script src="js/jquery.chocolat.js"></script>
    <link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen">
    <!--light-box-files -->
    <script type="text/javascript">
    $(function() {
      $('.filtr-item a').Chocolat();
    });
    </script>
    <!--//gallery-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
    });
  });
    </script>
    <!-- start-smoth-scrolling -->
   