
/*-- //stats-bottom --*/
/*--/portfolio --*/
/*--content-bottom--*/
.content-in{
  width:25%;
  float:left;
}
/*----*/
.text-desc{
  position: absolute; 
  left: 0; top: 0;
   background-color:#f53753;
   height: 100%; 
   opacity: 0;
   width: 100%;
   padding: 20px;
 }
/* effect-7 css */
.port{
  float: left;
   width: 100%; 
   position: relative; 
   overflow: hidden;
   text-align: center;
   overflow: hidden;
 }
.port .text-desc{
  opacity: 0;
   transition: 0.5s;
   color: #fff;
 }
 .port .text-desc h6{
      font-size: 1.2em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
 }
.port .text-desc p{
  font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0px;
 }
.port.effect-1 img{
  transition: 0.5s; 
  position: relative;
   width: 100%;
   left: 0;
 }
.port.effect-1:hover img{
  left: 50%;
}
.port.effect-1 .text-desc{
  transform: perspective(600px) rotateY(90deg); 
  transform-origin: left center 0;
   width: 50%;
   position: absolute;
   left: 0; top: 0; 
  padding: 4.4em 0.7em;
 }
.port.effect-1:hover .text-desc{
  opacity: 1; 
  transform: perspective(600px) rotateY(0deg);
   z-index: 99;
}
/*-- portfolio--*/
figure {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
}

figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  top: -100%;
      background: rgba(10, 200, 118, 0.78);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
      text-align: center;
}

figcaption h3 {
    font-weight:bold;
    font-size: 1.6em;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    margin-top:63px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
  font-weight:700;
      letter-spacing: 1px;
}

figcaption p {
       padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    font-size: 0.9em;
    line-height: 1.8;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s;
    background: rgb(18, 18, 19);
    letter-spacing: 4px;
}
figure:hover h3,figure:hover p {
  
    left: 0;
}

figcaption a {
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 10px;
    text-decoration: none;
}

figcaption a:hover {
    color: #4f5856;
    background: #fff;
}
.gallery {
    padding: 6em 0;
}
.ga-top{
  margin-bottom:3em;
}
/* effect-7 css end */
/*--//portfolio--*/